* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#sidepanel {
    float: left;
    height: 100vh;
    width: 15vw;
    background-color: gray;
    text-transform: uppercase;
}

.type-button {
    width: 100px;
    height: 25px;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    line-height: 25px;
    text-transform: uppercase;
    margin: 5px auto;
    cursor: pointer;
}

.type-button:hover {
    background-color: lightgray;
}

.type-button[selected] {
    border: 2px solid blue;
}

#output {
    width: 25vw;
    height: 100vh;
    float: left;
    background-color: lightgray;
    white-space: pre;
    overflow: scroll;
}

#workspace {
    float: left;
    position: relative;
}

.hexagon {
    position: absolute;
    width: 110px;
    height: 100px;
    background-image: url("../img/editor/hexagon.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    filter: grayscale(1);
}

.hexagon[type=wall] {
    filter: grayscale(0);
}

.hexagon[type=enemy] {
    filter: hue-rotate(-194deg) saturate(600%);
}

.hexagon[type=treasure] {
    filter: hue-rotate(-80deg) saturate(250%);
}

.hexagon[type=light] {
    filter: hue-rotate(-126.5deg) saturate(1150%);
}

.arrow {
    background-image: url("../img/editor/arrow.png");
    background-repeat: no-repeat;
    color: white;
    font-size: 32px;
    text-align: center;
    line-height: 100px;
    user-select: none;
    -moz-user-select: none;
}

#list-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.25);;
}

#levels-list {
    width: 300px;
    margin: auto;
    background-color: lightgray;
    border: 2px solid black;
    max-height: 100vh;
    overflow: auto;
}